<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="../scss/main.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyMusic</title>
  </head>
<body>
    {{>header}}
    <h1>Welcome to About Us Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum omnis accusantium consequuntur enim! Laboriosam error distinctio placeat corrupti, minus voluptate animi dolore ab, tenetur inventore minima facilis omnis temporibus.</p>
    {{>footer}}
</body>
</html>