 <div class="header_hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div class="header_hero__text">
              <h2><span>Music</span> for everyone</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Officia aliquid, explicabo consequuntur voluptatum vero, ipsa
                maiores velit cumque placeat
              </p>
              <div class="header_text__btn">
                <a href="">Download App Now</a>
                <a href="" id="btn__2">Start 30 Day Free Trail</a>
              </div>
            </div>
          </div>
    <!-- My Header Hero Part Ends-->
          <!-- Right Side Images -->
          <div class="col-lg-6 col-10 mx-auto">
          <figure class="header_hero__img">
            <img src="../images/hero_bg.png" alt="" class="img-fluid"/>
          </figure>
        </div>
      </div>
      </div>
    </div>